# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lcs_serial
lcs_parallel
lcs_distributed

lcs_distributed_column
lcs_distributed_row
lcs_distributed_diagonal
lcs_distributed_anti_diagonal

.vscode/
